<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand m-1">DAILY JOURNAL</p>
      </div>
        <ul class="nav navbar-nav">
          <!-- 6 -->
          <li class="nav-item active mr-5" id="home"><a href="/">HOME</a></li>
          <li class="nav-item active mr-5" id="about"><a href="/about">ABOUT US</a></li>
          <li class="nav-item active mr-5" id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">

      <!-- navbar-expand-lg navbar-light bg-light -->
      <!-- navbar-default -->